# ==========================
# DeepShield AI
# ==========================

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*
!.env.example

# Node / React / Vite
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Large datasets
datasets/*
!datasets/README.md

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/

# Windows / macOS
Thumbs.db
.DS_Store
# Trained ML models
backend/ml/saved_models/*
!backend/ml/saved_models/README.md